/*
 * -- Font-Face Declarations --
 * ----------------------------
 * Defines the custom fonts used in the website.
 * Assumes font files are located in a 'fonts' directory.
 */

/* -- Princeton Monticello Display -- */
@font-face {
  font-family: 'PrincetonMonticelloDisplay';
  src: url('../fonts/PrincetonMonticelloDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  /* normal */
  font-style: normal;
}

@font-face {
  font-family: 'PrincetonMonticelloDisplay';
  src: url('../fonts/PrincetonMonticelloDisplay-Italic.otf') format('opentype');
  font-weight: 400;
  /* normal */
  font-style: italic;
}

/* -- Libre Franklin -- */
@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-Light.ttf') format('truetype');
  font-weight: 300;
  /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-LightItalic.ttf') format('truetype');
  font-weight: 300;
  /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-Italic.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-SemiBold.ttf') format('truetype');
  font-weight: 600;
  /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  /* SemiBold */
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('../fonts/LibreFranklin-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  /* ExtraBold */
  font-style: italic;
}


/* -- Titillium Web (Existing Font) -- */
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 300;
  src: local('Titillium Web Light Italic'), local('TitilliumWeb-LightItalic'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5Db5yciWM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 300;
  src: local('Titillium Web Light Italic'), local('TitilliumWeb-LightItalic'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPFcZTIAOhVxoMyOr9n_E7fdMbepI5DYZyc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPAcZTIAOhVxoMyOr9n_E7fdMbWAaxWXr0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPAcZTIAOhVxoMyOr9n_E7fdMbWD6xW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  src: local('Titillium Web SemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDb5yciWM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  src: local('Titillium Web SemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPFcZTIAOhVxoMyOr9n_E7fdMbe0IhDYZyc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGIVzY4SY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(https://fonts.gstatic.com/s/titilliumweb/v7/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* -- Main Styles -- */
a {
  color: #F58025;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #AF5D28;
  text-decoration: none;
}

body,
td,
th,
tr,
p {
  font-family: 'LibreFranklin', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* Sets default weight to Regular */
}

wall {
  line-height: 20px;
}

email {
  font-size: 14px;
}

strong {
  font-family: 'LibreFranklin', Verdana, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  /* Uses the Bold version of LibreFranklin */
}

heading {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 24px;
  color: #F58025;
  font-weight: 800;
}

papertitle {
  font-family: 'LibreFranklin', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  /* Uses the Bold version of LibreFranklin */
}

name {
  font-family: 'PrincetonMonticelloDisplay', serif;
  /* UPDATED FONT */
  font-size: 56px;
  color: #F58025;
  font-weight: 400;
  /* Uses the Regular version */
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

ul#news {
  height: 178px;
  overflow-y: auto;
}

li {
  padding-top: 5px;
}

div#credits {
  text-align: center;
  font-size: 13px;
}